html {
  font-family: "Courier New", sans-serif;
}


body {
  color: #f0f5f8;
}
.ladder {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ladder > * {
  padding: 0.1em;
  flex: 1 1 auto;
}
.ribbon {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}


header {
  background-color: #1e2934;
}
.logo {
  margin-left: 2em;
}
.catchphrase {
  margin: auto;
  text-align: center;
}


main {
  background-color: #093048;
}
.main-box {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  flex: 8 2 auto;
}
#dialog-box {
  margin: 1em;
}
.question {
  margin-left: 1em;
  text-align: left;
}
.answer {
  color: #dbbc57;
  font-style: oblique;
  margin-right: 1em;
  text-align: right;
}
.input-box {
  margin: 1em auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.input-user-text {
  background-color: #f0f5f8;
  border-radius: 3px;
  color: #093048;
  font-family: "Courier New", serif;
  font-size: 1.2em;
  font-weight: bold;
  text-align: justify;
  padding: 0.5em;
  width: 50rem;
}
.input-user-text:focus,
.input-user-text:hover {
  box-shadow: 0px 4px 8px black;
}


footer {
  background-color: #1e2934;
}
.profile-name {
  margin-left: 2em;
  text-align: left;
}
.profile-links {
  margin-right: 2em;
  text-align: right;
}
