html,
body {
  height: 100vh;
  width: 100%;

  margin: 0;
  padding: 0;

  background-color: #263238;
  color: #eee;
  font-family: "Noto Serif", Times, serif;
  font-style: italic;

  display: grid;
  grid-template-rows: 1fr minmax(10vh, 5fr) 1fr;
}

header,
footer {
  margin: 0 1rem;

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

main {
  background-color: #eee;
  color: #263238;

  display: grid;
  grid-template-rows: minmax(10vh, 4fr) 1fr;
  grid-template-areas:
    "dialog"
    "form"
  ;
  grid-gap: 1px;
}

/* Header : elements */
.logo {
  width: 4rem;
  height: 4rem;

  align-self: end;
}

.catchphrase {
  font-size: 2rem;
  font-weight: bold;

  justify-self: center;
}

/* Main-Dialog : elements */
#dialog-container {
  width: 100%;
  margin: 0 auto;
  padding: auto;

  overflow-y: auto;

  grid-area: dialog;

  display: grid;
  grid-template-areas: "exchange";
  grid-auto-rows: minmax(min-content, 1fr);
  grid-gap: 1px;
}

.exchange {
  min-width: 90%;
  height: min-content;

  margin: 1rem auto;

  grid-area: exchange;
  justify-self: center;

  display: grid;
  grid-gap: 1px;
  grid-template-rows: auto auto;
  grid-template-areas:
    "question ."
    ". answer"
  ;
  align-items: safe center;
}

.question {
  height: min-content;
  text-align: left;

  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;

  grid-area: question;
  grid-column-start: 1;

  display: grid;
  justify-self: start;
}
.answer {
  height: min-content;
  text-align: right;

  grid-area: answer;
  grid-column-end: -1;

  display: grid;
  justify-self: end;
}
.map {
  max-height: 100%;
  max-width: 100%;
}

.answer {
  margin-bottom: 1em;
  border: 1px solid #444;
  padding: 10px;
}
.answer {
  display: grid;
  grid-column-gap: 1px;
  grid-template-areas:
    "result"
    "map"
    "extract"
    "reply";
}
.answer>.result {
  grid-area: result;
}
.answer>.map {
  grid-area: map;
}
.answer>.extract {
  grid-area: extract;
}
.answer>.reply {
  grid-area: reply;
}
@media (min-width: 600px) {
  /* clearfix*/
  .answer:after {
    content: "";
    display: block;
    clear: both;
  }
  .answer .map {
    float: left;
    margin: 0 10px 0 0;
    width: 150px;
  }
  .answer .reply {
    padding: 10px;
  }
  .answer>* {
    margin: 0 0 0 160px;
  }
  .answer>.answer {
    margin-left: 160px;
    clear: both;
  }
}


/* 
.media {
  margin-bottom: 1em;
  border: 1px solid #444;
  padding: 10px;
}
.media {
  display: grid;
  grid-column-gap: 1px;
  grid-template-areas:
    "result"
    "map"
    "extract"
    "reply";
}
.media>.result {
  grid-area: result;
}
.media>.map {
  grid-area: map;
}
.media>.extract {
  grid-area: extract;
}
.media>.reply {
  grid-area: reply;
}
*/
/* clearfix*/
/*
@media (min-width: 600px) { 
  
  .media:after {
    content: "";
    display: block;
    clear: both;
  }
  .media .map {
    float: left;
    margin: 0 10px 0 0;
    width: 150px;
  }
  .media .reply {
    padding: 10px;
  }
  .media>* {
    margin: 0 0 0 160px;
  }
  .media>.media {
    margin-left: 160px;
    clear: both;
  } 
} 
*/


/* Main-Form : elements */
form {
  min-width: 80%;
  margin: 1rem;

  display: grid;
  grid-template-columns: 1fr max-content;
  grid-column-gap: 1rem;
  justify-self: center;
  align-self: auto;
}

.form-item {
  grid-column: span 2;
  /*
  display: grid;
  grid: inherit;
  grid-template-columns: subgrid;
  grid-gap: inherit;
  */
}

.input-box {
  text-align: justify;

  border-color: #1b2b34;
  border-radius: 5px;

  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 1.2rem;
}

.input-box:focus,
.input-box:hover {
  box-shadow: 2px 4px 8px #1b2b34;
}

.input-text {
  padding: 0.1rem 1rem;

  background-color: #eee;
  color: #1b2b34;
}

.input-button {
  background-color: #1b2b34;
  color: #eee;
}

/* Footer : elements */
.profile-name {
  text-align: center;
}

.profile-links {
  margin: 10px;
  text-align: right;
}

/* Footer-Links : Social media buttons elements */
.fas {
  color: #eee;
}

.fab {
  color: #263238;
}