<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <title>GrandPyBot</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  
</head>

<body>

  <header>
    <div id="head-box">
      <h2 id="logo">[Logo]</h2>
      <h1 id="catchphrase">GrandPy Bot vous répond</h1>
    </div>
  </header>

  <main>
    <div id="main-box">

      <div id="dialog-box">
        <div class="exchange">
          <p class="question">Question 1</p>
          <p class="answer">Answer 1</p>
        </div>
        <div class="exchange">
          <p class="question">Question 2</p>
          <p class="answer">Answer 2</p>
        </div>
      </div>

      <div id="input-box">
        <form method="post" action="handler.py">
          <p>
            <!--<input type="text" name="request" id="request" placeholder="Question" size="90%"/>-->
            <textarea name="request" id="request" placeholder="Question: " rows="1"></textarea>
          </p>
        </form>
      </div>

    </div>
  </main>

  <footer>
    <div id="tail-box">
      <div id="profile-name">
        <h2>Mickael GASPAR</h2>
      </div>
      <div id="profile-links">
        <h3>myGit</h3>
        <h3>myTwitter</h3>
      </div>
    </div>
  </footer>

</body>

</html>
