body {
  background-color: #0b3c5d; /*prussian blue*/
  color: aliceblue;
  font-family: "Trebuchet MS", sans-serif;
}

header {
  background-color: #1d2731; /*ivory black*/
  font-size: 0.7em;
  margin: -0.7em;
}
#head-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#logo {
  margin-left: 2em;
}
#catchphrase {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 2em;
}

main {
  font-size: 1.1em;
  margin: 1em;
  padding: 1em;
}
#main-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#dialog-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.exchange {
  margin: 0.1em;
}
.question {
  text-align: left;
}
.answer {
  color: #d9b310; /*gold leaf*/
  font-family: Georgia;
  font-style: oblique;
  text-align: right;
}
#input-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#request {
  background-color: aliceblue;
  border-radius: 2px;
  color: #0b3c5d; /*prussian blue*/
  font-family: "Courier New";
  font-size: 1em;
  font-weight: bold;
  text-align: justify;
  margin: 1em;
  padding: 1em;
  width: 80em;
  max-width: 100%;
}
#request:focus,
#request:hover {
  box-shadow: 0px 4px 8px black;
}

footer {
  background-color: #1d2731; /*ivory black*/
  font-size: 0.7em;
  margin: -0.7em;
}
#tail-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#profile-name {
  margin: 0em 2em;
}
#profile-links h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 2em;
}
