<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

  {% if title %}
  <title>{{ title }} - GrandPyBot</title>
  {% else %}
  <title>GrandPy Bot</title>
  {% endif %}
</head>

<body class="ladder">

  <header>
    <div class="ribbon">
      <p id="logo">[Logo]</p>
      <h1 id="catchphrase">GrandPy Bot vous répond</h1>
    </div>
  </header>

  <main>
    {% block main %}{% endblock main %}
  </main>

  <footer>
    <div class="ribbon">
      <div id="profile-name">
        <p>Mickael GASPAR</p>
      </div>
      <div id="profile-links">
        <p>myGit</p>
        <p>myTwitter</p>
      </div>
    </div>
  </footer>

</body>

</html>
