<!DOCTYPE html>

<!-- grandpybot/templates/base.html -->

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>GrandPyBot</title>
</head>

<body>
  <header>
    <div id="head-box">
      <h2 id="logo">[Logo]</h2>
      <h1 id="catchphrase">GrandPy Bot vous répond</h1>
    </div>
  </header>
  {% block main %}

  {% endblock main %}
  <footer>
    <div id="tail-box">
      <div id="profile-name">
        <h2>Mickael GASPAR</h2>
      </div>
      <div id="profile-links">
        <h3>myGit</h3>
        <h3>myTwitter</h3>
      </div>
    </div>
  </footer>

</body>

</html>
