<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>GrandPy Bot</title>

  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="https://kit.fontawesome.com/8f873755fa.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <div class="ribbon">
      <img class="avatar" src="{{url_for('static', filename='westworld_ford_image_64.png')}}" alt="[Image of Ford]" >
      <div class="catchphrase">GrandPy Bot vous répond</div>
    </div>
  </header>

  <main>
    <div id="dialog-box">
      <div class="question">Question 1</div>
      <div class="answer">Answer 1</div>
    </div>
    <div id="input-box">
      <form id="user-form" >
        <label for="userText"></label>
        <input type="text" id="userText" name="userText" class="input-user-text" placeholder="Question:">
        <input type="submit" value="Envoyer">
      </form>
    </div>
  </main>

  <footer>
    <div class="ribbon">
      <div class="profile-name">Mickael  GASPAR</div>
      <div class="profile-links">
        <i class="far fa-circle fa-2x"></i>
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-twitter fa-stack-1x fa-inverse" style="color:black"></i>
        </span>
        <p>myGit</p>
        <p>myTwitter</p>
      </div>
    </div>
  </footer>

  <script src="https://maps.googleapis.com/maps/api/js?key={{key_front}}&initMap"></script>
  <script type="text/javascript" src="../static/index.js"></script>
</body>
</html>
